@model UserRolesViewModel
@{
    ViewData["Title"] = "User Roles";
}

<form asp-action="UpdateRole" method="post">
    <div class="card rounded shadow">
        <div class="card-header">
            <h1>User : <span>@Model.UserName</span></h1>
            <h1>Email : <span>@Model.Email</span></h1>
        </div>
        <div class="card-body">
            <div class=" bg-light rounded h-11 p-4 shadow">
                <input asp-for="UserId"  hidden/>
                @for(int i = 0; i < Model.Roles.Count; i++)
                {
                    <div class="form-check">
                        <input asp-for="Roles[i].RoleName" hidden/>
                        <input asp-for="Roles[i].IsSelected"/>
                        <label asp-for="Roles[i].IsSelected">@Model.Roles[i].RoleName</label>

                    </div>
                }
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group float-end">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="UsersList" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</form>